* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: auto;
  //   border: 1px solid;
}

header {
  background-color: #20484f;
  height: 75px;
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    img {
      margin-top: 11px;
    }
    i {
      color: white;
      display: none;
    }

    .profile {
      display: none;
    }
    ul {
      list-style: none;
      display: flex;
      gap: 32px;
      li {
        // margin: 0px 32px;
        a {
          text-decoration: none;
          color: white;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
    }

    div {
      button {
        padding: 10px 16px;
        border-radius: 8px;
        border: none;
      }
      .signIN {
        background-color: #b8e4da;
        color: #20484f;
        padding: 10px 16px;
        border-radius: 8px;
        border: none;
      }
      .logIN {
        background-color: rgba(255, 0, 0, 0);

        background-color: transparent;
        color: white;
      }
    }
  }
}

section {
  // background-color: ;
  .gridcon {
    display: grid;
    // width: 300px;
    height: 300px;
    background-color: gray;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px;

    // justify-items: center;

    // align-items: center;

    align-content: flex-end;
    align-content: center;
    justify-content: center;

    .item {
      background-color: yellow;
      border: 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

main {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 94px 0px 78px 0px;

  .imgBox {
    margin-top: 68px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    .item {
      //   border: 1px solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h6 {
        margin-top: 23px;
        font-weight: 700;
        font-size: 24px;
        color: #072125;
      }

      p {
        margin-top: 8px;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
      }

      .iconBox {
        margin-top: 16px;

        display: flex;

        gap: 12px;
        div {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          border: 1px solid #20484f19;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  header {
    .nav {
      ul {
        display: none;
      }
      i {
        display: block;
      }
    }
  }

  main {
    .imgBox {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media only screen and (max-width: 560px) {
  header {
    .nav {
      padding: 0 5px;
      ul {
        display: none;
      }
      i {
        display: block;
      }

      .btnBox {
        display: none;
      }
      .profile {
        display: block;
      }
    }
  }
  main {
    .imgBox {
      grid-template-columns: 1fr;
    }
  }
}
